html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

@media (max-width:600px) {



    .felhivas {
        background-color: cyan;
        width: 100%;
        text-align: center;
        height: 5vh;
        align-items: center;
        display: flex;
        justify-content: center;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 15px;
    }


    .side-menu {
        height: 40%;
        position: fixed;
        left: 0;
        top: 0;
        background-color: cyan;
        overflow-x: hidden;
        transition: 0.3s;
        padding-top: 100px;
        z-index: 5;
        width: 0;

    }

    .side-menu a {
        padding: 10px 20px;
        text-decoration: none;
        font-size: 15px;
        color: #333;
        display: block;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;


    }

    .nav-links {
        display: flex;
    }


    .nav-links a {
        font-size: 17px;
        margin: 0;
        padding: 0;
        margin-left: 7%;
        margin-top: 15%;

    }

    .close-item {
        position: absolute;
        font-size: 36px;
        cursor: pointer;
        right: 15px;
        margin-top: -30%;

    }

    .menu-icon {
        display: block;
        cursor: pointer;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5%;


    }

    .menu-icon i {
        font-size: 25px;

    }

    .menu-icons {
        display: flex;
        justify-content: flex-end;
        margin-top: -5%;
        gap: 5px;
        font-size: 20px;
        margin-right: 5%;
        margin-left: 5%;



    }

    .menu-icons i {
        color: black;


    }

    .search{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .search-bar{
        width: 300px;
        margin-top: 2%;
        padding: 5px 20px;
        justify-content: center;
        display: grid;
       
    }

  
    .fooldal-kep {
        text-align: center;
        margin-top: 5%;

    }

    .fooldal-kep img {
        width: 400px;
        border-radius: 15px;
    }



    .markak {
        margin-top: 10%;
    }



    .markak ul {
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-right: 12%;
        margin-left: 5%;

    }

    .markak ul li {
        border: 1px solid;
        padding: 10px 20px;
        border-radius: 20px;
    }



    .markak ul li a {
        text-decoration: none;
        color: black;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 11px;

    }

    .termek_header {
        text-align: center;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-style: normal;
        margin-top: 20%;
    }

    .products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        flex-wrap: wrap;
        justify-content: center;

    }

    .product img {
        width: 180px;
    }

    .product h1 {
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 15px;
        text-align: center;
    }

    .product p {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
        text-align: center;
    }

    .product {
        text-align: center;
        margin-top: 5%;
    }

}